<ion-view view-title="在线教育" hide-nav-bar="false" hide-tabs="true">
  <ion-content>
    <div class="list card">
      <a href="" class="item item-icon-left" ui-sref="tab.eduRecord">
        <i class="icon ion-ios-film-outline"></i>
        课程录制
      </a>
      <a href="#" class="item item-icon-left" ui-sref="tab.eduVB">
        <i class="icon ion-ios-videocam-outline"></i>
        在线直播
      </a>
      <a href="#" class="item item-icon-left" ui-sref="tab.eduPaper">
        <i class="icon ion-ios-paper-outline"></i>
       发布文章
      </a>
      <a href="#" class="item item-icon-left" ui-sref="tab.eduHistory">
        <i class="icon ion-ios-search"></i>
        查询记录
      </a>
    </div>
      <!--  <video width="400" height="600" style="" controls id="localVideo">
        </video>-->
     <!-- <video id="localVideo" controls="controls" style="border: 1px red solid;margin-top: 0px;" autoplay ></video>-->
      <!--<video id="localVideo" muted autoplay></video>-->
        <!-- <video controls muted autoplay style="background: red;width: 600px;" id="localVideo"></video>-->
  </ion-content>
</ion-view>


